<?xml version="1.0" encoding="utf-8"?>
<robot name="part1.SLDPRT" xmlns:xacro="http://www.ros.org/wiki/xacro">

	<link name="part1.SLDPRT">
		<inertial>
			<origin xyz="-4.5591E-18 -0.012314 0.005" rpy="0 0 0"></origin>
			<mass value="1.556"></mass>
			<inertia ixx="0.021045" ixy="-1.1594E-18" ixz="6.9483E-20" iyy="0.019376" iyz="5.4332E-20" izz="0.040395"></inertia>
		</inertial>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0"></origin>
			<geometry>
				<mesh filename="package://object_description/urdfs/part1.SLDPRT/meshes/part1.SLDPRT.STL"></mesh>
			</geometry>
			<material name="">
				<color rgba="0.79216 0.81961 0.93333 1"></color>
			</material>
		</visual>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0"></origin>
			<geometry>
				<mesh filename="package://object_description/urdfs/part1.SLDPRT/meshes/part1.SLDPRT.STL"></mesh>
			</geometry>
		</collision>
	</link>
	<link name="part1 hole blocked 1">
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0"></origin>
			<geometry>
				<cylinder length="0.01" radius="0.0035"></cylinder>
			</geometry>
		</visual>
	</link>
	<link name="part1 hole blocked 2">
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0"></origin>
			<geometry>
				<cylinder length="0.01" radius="0.0035"></cylinder>
			</geometry>
		</visual>
	</link>
	<link name="part1 hole blocked 3">
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0"></origin>
			<geometry>
				<cylinder length="0.01" radius="0.0035"></cylinder>
			</geometry>
		</visual>
	</link>
	<link name="part1 hole blocked 4">
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0"></origin>
			<geometry>
				<cylinder length="0.01" radius="0.0035"></cylinder>
			</geometry>
		</visual>
	</link>
	<joint name="part1 hole blocked 1 joint" type="fixed">
		<origin xyz="-0.079 0.16577 0.005" rpy="0.0 0.0 0.0"></origin>
		<parent link="part1.SLDPRT"></parent>
		<child link="part1 hole blocked 1"></child>
	</joint>
	<joint name="part1 hole blocked 2 joint" type="fixed">
		<origin xyz="0.079 0.16577 0.005" rpy="0.0 0.0 0.0"></origin>
		<parent link="part1.SLDPRT"></parent>
		<child link="part1 hole blocked 2"></child>
	</joint>
	<joint name="part1 hole blocked 3 joint" type="fixed">
		<origin xyz="-0.111 -0.16161 0.005" rpy="0.0 0.0 0.0"></origin>
		<parent link="part1.SLDPRT"></parent>
		<child link="part1 hole blocked 3"></child>
	</joint>
	<joint name="part1 hole blocked 4 joint" type="fixed">
		<origin xyz="0.111 -0.16161 0.005" rpy="0.0 0.0 0.0"></origin>
		<parent link="part1.SLDPRT"></parent>
		<child link="part1 hole blocked 4"></child>
	</joint>
	<gazebo reference="part1 hole blocked 1">
		<material>Gazebo/BlueTransparent</material>
	</gazebo>
	<gazebo reference="part1 hole blocked 2">
		<material>Gazebo/BlueTransparent</material>
	</gazebo>
	<gazebo reference="part1 hole blocked 3">
		<material>Gazebo/BlueTransparent</material>
	</gazebo>
	<gazebo reference="part1 hole blocked 4">
		<material>Gazebo/BlueTransparent</material>
	</gazebo>
</robot>