<launch>
    <arg name="isSim" default="true"/>
    <group if="$(arg isSim)">
        <include file="$(find assembly_gazebo)/launch/init_env.launch"/>
    </group>

    <arg name="urdf_path" default="$(find object_description)/urdfs_from_hj"/>
    <node name="obj_spawn_init" pkg="assembly_gazebo" type="obj_spawn.py" output="screen" respawn="false"
        launch-prefix="bash -c 'sleep 3.0; $0 $@' ">

        <param name="stefan_PART2_1_description" command="$(find xacro)xacro $(arg urdf_path)/PART2.SLDPRT/urdf/PART2.SLDPRT_HolePin.xacro"/>
        <param name="stefan_PART3_1_description" command="$(find xacro)xacro $(arg urdf_path)/PART3.SLDPRT/urdf/PART3.SLDPRT_HolePin.xacro"/>
        <param name="stefan_PART4_1_description" command="$(find xacro)xacro $(arg urdf_path)/PART4.SLDPRT/urdf/PART4.SLDPRT_HolePin.xacro"/>
        <param name="stefan_PART5_1_description" command="$(find xacro)xacro $(arg urdf_path)/PART5.SLDPRT/urdf/PART5.SLDPRT_HolePin.xacro"/>
        <param name="stefan_PART6_1_description" command="$(find xacro)xacro $(arg urdf_path)/PART6.SLDPRT/urdf/PART6.SLDPRT_HolePin.xacro"/>

        <param name="stefan_C101350_14_description" command="$(find xacro)xacro $(arg urdf_path)/C101350.SLDPRT/urdf/C101350.SLDPRT_HolePin.xacro"/>
        <param name="stefan_C104322_6_description" command="$(find xacro)xacro $(arg urdf_path)/C104322.SLDPRT/urdf/C104322.SLDPRT_HolePin.xacro"/>
        <param name="stefan_C122620_4_description" command="$(find xacro)xacro $(arg urdf_path)/C122620.SLDPRT/urdf/C122620.SLDPRT_HolePin.xacro"/>
        <param name="stefan_C122925_4_description" command="$(find xacro)xacro $(arg urdf_path)/C122925.SLDPRT/urdf/C122925.SLDPRT_HolePin.xacro"/>
	</node>

</launch>
