<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="part6.SLDPRT">
  <link
    name="part6.SLDPRT">
    <inertial>
      <origin
        xyz="0.25066 0.35103 -0.023978"
        rpy="0 0 0" />
      <mass
        value="1.8121" />
      <inertia
        ixx="0.085485"
        ixy="0.028258"
        ixz="-0.0047463"
        iyy="0.051765"
        iyz="-0.0023711"
        izz="0.13613" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://part6.SLDPRT/meshes/part6.SLDPRT.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
        <texture
          filename="package://part6.SLDPRT/textures/" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://part6.SLDPRT/meshes/part6.SLDPRT.STL" />
      </geometry>
    </collision>
  </link>
</robot>
