<launch>
    <arg name="urdf_path" default="$(find object_description)/urdfs"/>
    <node name="assembly_core" pkg="assembly_core_v3" type="core.py" output="screen" respawn="false">
        <param name="stefan_part1_1_description" command="$(find xacro)xacro $(arg urdf_path)/part1.SLDPRT/urdf/part1.SLDPRT_HolePin.xacro"/>
        <param name="stefan_part2_1_description" command="$(find xacro)xacro $(arg urdf_path)/part2.SLDPRT/urdf/part2.SLDPRT_HolePin.xacro"/>
        <param name="stefan_part3_1_description" command="$(find xacro)xacro $(arg urdf_path)/part3.SLDPRT/urdf/part3.SLDPRT_HolePin.xacro"/>
        <param name="stefan_part4_1_description" command="$(find xacro)xacro $(arg urdf_path)/part4.SLDPRT/urdf/part4.SLDPRT_HolePin.xacro"/>
        <param name="stefan_part5_1_description" command="$(find xacro)xacro $(arg urdf_path)/part5.SLDPRT/urdf/part5.SLDPRT_HolePin.xacro"/>
        <param name="stefan_part6_1_description" command="$(find xacro)xacro $(arg urdf_path)/part6.SLDPRT/urdf/part6.SLDPRT_HolePin.xacro"/>

        <param name="stefan_C101350_14_description" command="$(find xacro)xacro $(arg urdf_path)/C101350.SLDPRT/urdf/C101350.SLDPRT_HolePin.xacro"/>
        <param name="stefan_C104322_6_description" command="$(find xacro)xacro $(arg urdf_path)/C104322.SLDPRT/urdf/C104322.SLDPRT_HolePin.xacro"/>
        <param name="stefan_C122620_4_description" command="$(find xacro)xacro $(arg urdf_path)/C122620.SLDPRT/urdf/C122620.SLDPRT_HolePin.xacro"/>
        <param name="stefan_C122925_4_description" command="$(find xacro)xacro $(arg urdf_path)/C122925.SLDPRT/urdf/C122925.SLDPRT_HolePin.xacro"/>
    </node>
</launch>